<form class="col-12 {% if mode != 'new' %}col-md-3{% else %}col-md-5{% endif %} p-0 mb-0" action="{{ path('app_' ~ destination ~ '_index') }}">
    <button class="btn form_btn">{{ 'Back'|trans }}</button>
</form>