{% if mode != 'new' %}
<button class="btn form_btn save_btn col-12 col-md-3">{{ 'Validate'|trans }}</button>
{% else %}
<button class="btn form_btn save_btn col-12 col-md-5">{{ 'Add'|trans }}</button>
{% endif %}